<div class="post-input-content post-input-content-top-space">
    <div class="post-container">
        <textarea ng-minlength="1" placeholder="Say something..." ng-model="newMessage"></textarea>
    </div>

    <div class="post-btn-container">
        <div class="btn-container-item" id="flt-left" ng-click="toggleInput()">
            <img src="./assets/plussquare.png">
        </div>
        <div class="btn-container-item" id="flt-left" ng-hide="linkBox">
            <h6 ng-click="toggleInput()">Add Link</h6>
        </div>
        <div class="btn-container-item" id="flt-left" ng-show="linkBox">
            <input class="group-input" id="link-input" type="text" placeholder="Add Link" ng-model="linkUrl">
        </div>

        <div class="btn-container-item">
            <div class="post-btn" ng-click="postNew()">
                <h3>Post</h3>
            </div>
        </div>
    </div>
</div>

<div class="content" ng-repeat="post in groupData.posts track by $index">
    <div class="img-container">
        <img ng-src="{{post.postedBy.google.image}}" alt="PostedBy">
    </div>
    <div class="content-row post-info">
        <div class="sub left">
            <h4>{{post.postedBy.google.name}}</h4>
        </div>
        <div class="sub right">
            <h4><span class="sml-txt" title="{{ post.dateCreatedNonRead | amDateFormat:'ddd, MMM D YYYY, h:mma' }}" am-time-ago="post.dateCreatedNonRead"></span></h4>
        </div>
    </div>
    <div class="content-row post-text">
        <h5>{{post.postContent.message}}</h5>

        <a ng-href="{{post.postContent.linkUrl}}" target="_blank"><img ng-if="!!post.postContent.embedlyImg && post.postContent.embedlyType === 'photo'" ng-src="{{post.postContent.embedlyImg}}"></a>

        <a ng-href="{{post.postContent.linkUrl}}" target="_blank"><img ng-if="!!post.postContent.embedlyImg && post.postContent.embedlyType === 'gif'" ng-src="{{post.postContent.embedlyImg}}"></a>

        <a ng-href="{{post.postContent.linkUrl}}" target="_blank"><img ng-if="!post.postContent.embedlyImg && post.postContent.embedlyType === 'photo'" ng-src="{{post.postContent.linkUrl}}"></a>

        <a ng-href="{{post.postContent.linkUrl}}" target="_blank"><img ng-if="!post.postContent.embedlyImg && post.postContent.embedlyType === 'gif'" ng-src="{{post.postContent.linkUrl}}"></a>

        <a ng-href="{{post.postContent.linkUrl}}" target="_blank"><h5 id="pointer" ng-if="post.postContent.embedlyType === 'link'">{{post.postContent.linkUrl}}</h5></a>

        <div class="ng-embed-container" ng-if="post.postContent.embedlyType === 'video'">
            <ng-embed embed-data="post.postContent.linkUrl" embed-options="options"></ng-embed>
        </div>

    </div>

    <div class="content-row comment">
        <div class="comment-icon">
            <img src="./assets/bubble1.png" alt="comments" ng-click="showComments(this, post._id)">
        </div>
    </div>

    <div ng-show="commentsBox">
        <div class="comments-box" ng-repeat="comment in comments track by $index">
            <div class="comment-img">
                <img ng-src="{{comment.postedBy.google.image}}" alt="">
            </div>
            <div class="comment-row">
                <div class="comment-info left">
                    <h5>{{comment.postedBy.google.name}} says</h5>
                </div>
                <div class="comment-info right">
                    <h5><span title="{{ comment.dateCreatedNonRead | amDateFormat:'ddd, MMM D YYYY, h:mma' }}" am-time-ago="comment.dateCreatedNonRead"></span></h5>
                </div>
            </div>

            <div class="comment-row flexible">
                <h6>{{comment.commentMessage}}</h6>
            </div>
        </div>

        <div class="comments-box">
            <div class="comment-img">
                <img ng-src="{{user.google.image}}" alt="">
            </div>
            <div class="comment-input-container">
                <div class="sub-comment-holder left">
                    <input type="text" placeholder="Add comment" ng-model="commentMsg">
                </div>
                <div class="right">
                    <div class="comment-post-btn" ng-click="submitComent(post_id, commentMsg)">
                        <h6>Post</h6>
                    </div>
                </div>
            </div>

            <div class="comment-input-container" id="add-link-container">
                <div class="comment-input-img-holder">
                    <img src="./assets/plussquare.png" ng-click="toggleLinkInputComments(this)">
                </div>
                <div class="comment-input-img-holder" ng-hide="linkInputComments">
                    <h6 ng-click="toggleLinkInputComments(this)">Add Link</h6>
                </div>
                <div class="comment-input-img-holder input-link-comments" ng-show="linkInputComments">
                    <input type="text" placeholder="Add link">
                </div>
            </div>

        </div>

    </div>

</div>