<div class="create-group-box">

    <div class="box-row space">
        <h3>CREATE GROUP</h3>
    </div>

    <div class="box-row inputs">
        <div class="input-split">
            <h4>Group Name</h4>
        </div>
        <div class="input-split">
            <input class="group-input" type="text" ng-model="grpName">
        </div>
    </div>
    <!--  INVITE USERS AUTO COMPLETE BOX   -->
    <div class="box-row inputs">
        <div class="input-split">
            <h4>Invite Users </h4>
        </div>
        <div class="input-split">
            <!--<input class="group-input" type="text">-->
            <md-autocomplete 
                class="group-input" 
                md-selected-item="targetUser" 
                md-search-text="queryText" 
                md-items="user in findUser(queryText)" 
                md-min-length="3"
                md-item-text="user.name" 
                placeholder="Search by name">
                <span md-highlight-text="queryText">{{ user.name }}</span>
            </md-autocomplete>
            
            
        </div>
    </div>

    <div class="box-row inputs">
        <div class="input-split">
            <h4> Invites List </h4>
        </div>
        <div class="input-split">
            <input class="group-input" type="text">
        </div>
    </div>

    <div class="box-row inputs create-btn-container">
        <div class="input-split">
            <div class="create-grp-btn" ng-click="createNewGroup()">
                <h4>Create Group</h4>
            </div>
        </div>
    </div>






</div>