<div class="create-group-box">

    <div class="box-row space">
        <h3>CREATE GROUP</h3>
    </div>

    <div class="box-row inputs">
        <div class="input-split">
            <h4>Group Name</h4>
        </div>
        <div class="input-split">
            <input class="group-input" type="text" ng-model="grpName" maxlength="20" autofocus>
        </div>
    </div>
    <!--  INVITE USERS AUTO COMPLETE BOX   -->
    <div class="box-row inputs">
        <div class="input-split">
            <h4>Invite Users </h4>
        </div>
        <div class="input-split">
            <div angucomplete-alt id="inviter" placeholder="Search by name" pause="300" selected-object="selectedPerson" local-data="users"
            search-fields="name" title-field="name" minlength="3" input-class="group-input" input-class="" match-class="highlight"
            ng-keyup="addPersonToInviteList($event, id)">
            </div>
        </div>
    </div>

    <div class="box-row inputs">
        <div class="input-split">
            <h4> Invites List </h4>
        </div>
        <div class="input-split">
            <div class="group-input">
                <select> 
                    <option ng-repeat="name in invitesList track by $index">{{name.title}}</option>
                </select>
            </div>
        </div>
    </div>





    <div class="box-row inputs create-btn-container">
        <div class="input-split">
            <div class="create-grp-btn" ng-click="createNewGroup()">
                <h4>Create Group</h4>
            </div>
        </div>
    </div>



</div>