<div class="create-group-box">

    <div class="box-row space">
        <h3>CREATE GROUP</h3>
    </div>

    <div class="box-row inputs">
        <div class="input-split">
            <h4>Group Name</h4>
        </div>
        <div class="input-split">
            <input class="group-input" type="text" ng-model="grpName">
        </div>
    </div>
    <!--  INVITE USERS AUTO COMPLETE BOX   -->
    <div class="box-row inputs">
        <div class="input-split">
            <h4>Invite Users </h4>
        </div>
        <div class="input-split">
            <div angucomplete-alt id="ex2" placeholder="Search people" pause="300" selected-object="selectedPerson" local-data="users"
            search-fields="name" title-field="name" minlength="3" input-class="group-input"
            input-class="form-control form-control-small" match-class="highlight">
            </div>
        </div>
    </div>

    <div class="box-row inputs">
        <div class="input-split">
            <h4> Invites List </h4>
        </div>
        <div class="input-split">
            <input class="group-input" type="text">
        </div>
    </div>



    <div class="box-row inputs create-btn-container">
        <div class="input-split">
            <div class="create-grp-btn" ng-click="createNewGroup()">
                <h4>Create Group</h4>
            </div>
        </div>
    </div>









</div>