<div>
    <img class="circle" ng-src="{{user.google.image}}" alt="">
</div>

<div>
    Hello, {{user.google.name}}
</div>

<br>
<div>
    <button ng-click="createGroupButtons()">Create Group</button>
</div>
<br>

<div ng-show="newGrp">
    <input type="text" placeholder="Group name..." ng-model="grpName">
    <button ng-click="createNewGroup()">Submit Group</button>
</div>

<br> My Groups
<div>
    <ul>
        <li ng-repeat="group in myGroups track by $index">{{group.groupName}}</li>
    </ul>
</div>

<br>
<br>
<br>

<!-- socket.io tests -->
<br>
<br>
<div>
    <label>Please enter a message: </label>
    <input ng-model="msg">
    <button ng-click="send()">send</button>
    <br/>
</div>
<br> (SOCKET IO TESTS):
<ul>
    <li ng-repeat="message in messages track by $index">{{message}}</li>
</ul>