<div class="main-user-wrapper">

    <div class="sidebar-user-view">
        <div class="sidebar-row center userBox">
            <div class="sidebar-sub-item">
                <img ng-src="{{user.google.image}}">
            </div>
            <div class="sidebar-sub-item">
                    <h4>{{user.google.name}}</h4>
            </div>

        </div>
        <div class="row">
            <h4 class="myGroups-text">MY GROUPS</h4>
        </div>

        <div class="sidebar-row section">
            <div class="row">
                <div class="sub-item">
                    <h4 class="group-name-text" ng-class="createGroupActive ? 'active' : 'notActive'">New Group</h4>
                </div>
                <div class="sub-item right">
                    <h4 class="group-name-text action" ng-class="createGroupActive ? 'active' : 'notActive'" ng-click="createGroupBox()">Create</h4>
                </div>
            </div>
            <div class="row" ng-repeat="invite in myInvites track by $index">
                <div class="sub-item">
                    <h4 class="group-name-text">{{invite.groupInvitedTo.groupName}}</h4>
                </div>
                <div class="sub-item right">
                    <h4 class="group-name-text action join" ng-click="acceptInvite(invite)">Join</h4>
                </div>
            </div>
        </div>

        <div class="sidebar-row section">
            <div class="row" ng-repeat="group in myGroups track by $index">
                <div class="sub-item">
                    <h4 class="group-name-text">{{group.groupName}}</h4>
                </div>
                <div class="sub-item right">
                    <a href="#/group/{{group._id}}" ng-click="getGroupData(group._id)"><h4 class="group-name-text action">Go to</h4></a>
                </div>
            </div>
        </div>
    </div>

    <div class="header">
        <img src="./assets/groopscooplogo2-compressor.png" alt="Groop Scoop">
    </div>

    <div class="main-content-area" ng-show="createNewGroupBox">
        <create-group></create-group>
    </div>

</div>