.angucomplete-holder {
    position: relative;
}

.angucomplete-dropdown {
    color: #888787;
    border-width: 1px;
    border-style: solid;
    border-radius: 4px;
    width: 300px;
    padding: 6px;
    cursor: pointer;
    z-index: 9999;
    position: absolute;
    /*top: 32px;
    left: 0px;
    */
    margin-top: 0px;
    background-color: #fff;
}

.angucomplete-searching {
    color: #acacac;
    font-size: 14px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 100;
}

/*.angucomplete-description {
    font-size: 14px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 100;
    color: #acacac;
}*/

.angucomplete-row {
    /*border: 1px solid red;*/
    height: 42px;
    line-height: 41px;
    /*padding-top: 5px;*/
    color: #4D4C4C;
    text-align: left;
    margin-bottom: 4px;
    font-size: 14px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 100;
    clear: both;
}

.angucomplete-selected-row {
    background-color: lightblue;
    color: #4D4C4C;
}

.angucomplete-image-holder {
    height: 100%;
    float: left;
    margin-right: 10px;
    margin-left: 5px;
    vertical-align: top;
    /*border: 1px solid green;*/
}

.angucomplete-image {
    height: 100%;
    border-radius: 50%;
}

.angucomplete-image-default {
    /* Add your own default image here
     background-image: url('/assets/default.png');
    */
    background-position: center;
    background-size: contain;
    height: 34px;
    width: 34px;
}
