* {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;  
}

html {
    margin: 0;
    min-height: 100%;
    width: 100%;
}

h1,h2,h3,h4,h5,h6 {
    margin: 0;
    font-family: 'Open Sans', sans-serif;
}

a {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
}

/* HOME */
.background-blue {
    height: 100%;
    width: 100%;
    background: #8CB8DA;
}

.main-wrapper {
    width: 300px;
    height: 215px;
    margin: auto;
    position: absolute;
    top: 0; left: 0; bottom: 0; right: 0;
    /*border: 1px solid #FFF;*/
    vertical-align: middle;
}

.logo-container {
    margin: 0 auto;
    text-align: center;
    /*border: 1px solid green;*/
    margin-bottom: 25px;
}

    .logo-container img {
        width: 270px;
    }
    
.login-button-container {
    /*border: 1px solid rebeccapurple;*/
    margin: 0 auto;
    text-align: center;
}

.login-btn {
    margin: 0 auto;
    width: 230px;
    height: 55px;
    background: #ED6464;
    border-radius: 15px;
}

    .login-btn h4 {
        color: #fff;
        font-size: 18px;
        padding-top: 14px;
    }

/* USER LANDING PAGE AFTER LOGIN (USER VIEW) */

.main-user-wrapper {
    width: 100%;
    min-height: 100%;
    overflow: auto;
    background: #D4D8Df;
    /*border: 1px solid red;*/
}

.header {
    height: 60px;
    width: calc(100% - 350px);
    background: #8CB8DA;
    float: right;
    text-align: center;
}

    .header img {
        height: 75%;
        margin: 7px 40px 0 0;
        display: inline-block;
    }

.sidebar {
    position: absolute;
    width: 350px;
    min-height: 100%;
    background: #262E35;
}

.sidebar-row {
    width: 100%;
    height: 100px;
    /*border: 1px solid lightgoldenrodyellow;*/
}

.center {
    text-align: center;
}

.userBox {
    height: 120px;
}

.sidebar-sub-item {
    height: 100%;
    display: inline-block;
    vertical-align: top;
    text-align: center;
    margin: 0 15px 0 0px;
    overflow: hidden;
}
 
.sidebar-sub-item img {
    width: 90px;
    border-radius: 50%;
    margin-top: 22px;
}

.sidebar-sub-item h4 {
    color: #fff;
    font-weight: 100;
    font-size: 16px;
    line-height: 120px;
}

.section {
    /*border: 1px solid red;*/
    height: auto;
}

.section .row {
    /*border: 1px solid green;*/
    height: 50px;
    width: 100%;
}

.section .row:hover {
    background: #35404A;
}

.myGroups-text {
    color: #fff;
    font-size: 16px;
    font-weight: 400;
    padding-left: 18px;
    line-height: 40px;
    letter-spacing: 1px;
}

.group-name-text {
    color: #959595;
    font-weight: 400;
    letter-spacing: 1px;
    padding-left: 18px;
}

    .row .sub-item {
        /*border: 1px solid purple;*/
        display: inline-block;  
        line-height: 50px;
        height: 100%;
        margin: 0 30px 0 0;
    }
    
.left {
        float: left;
    }

.right {
        float: right;
    }
    
.action {
    color: #fff;
    cursor: pointer;
}

.join {
    color: #ED6464;
}

.active {
    color: #ED6464
}

.notActive {
    color: #959595;
}

.main-content-area {
    display: inline-block;
    width: calc(100% - 350px);
    min-height: 100%;
    text-align: center;
    float: right;   
}

/* CREATE NEW GROUP BOX */

.create-group-box {
    width: 600px;
    border: 1px solid #C9C8C8;
    background: #fff;
    margin: 100px auto;
    border-radius: 6px;
}

.box-row {
    width: 100%;
    height: 60px;
    text-align: right;
    /*border: 1px solid pink;*/
    border-radius: 6px;
    background: #F5F5F5;
}

.space {
    margin-bottom: 8px;
}

    .box-row h3 {
        font-size: 18px;
        font-weight: 800;
        line-height: 60px; 
        letter-spacing: 1px;
        text-align: center;
        color: #4D4C4C;
    }
    
.inputs {
    height: 80px;
    background: none;
}

.input-split {
    height: 100%;
    /*border: 1px solid green;*/
    display: inline-block;
    vertical-align: top;
    line-height: 78px;
    margin: 0 80px 0 0;
}

    .input-split h4 {
        color: #4D4C4C;
    }

.group-input {
    width: 270px;
    height: 30px; 
    /*border: #959595;*/
    padding-left: 14px;
}

    .group-input select {
        width: 270px;
        height: 30px; 
        
    }

.create-btn-container {
    height: auto;
    
}
.create-grp-btn {
    width: 150px;
    height: 40px;
    background: #ED6464;
    border-radius: 4px;
    margin-bottom: 25px;
}

    .create-grp-btn h4 {
        color: #fff;
        text-align: center;
        line-height: 39px;
    }
    
/* GROUP VIEW */

.group-title {
    height: 100%;
    display: inline-block;
}

.title {
    margin-left: 90px;
}
    
    .group-title h4 {
        font-size: 22px;
        font-weight: 800;
        line-height: 60px;
        letter-spacing: 1px;
        color: #fff;
    }
    
.post-input-content {
    max-width: 700px;
    width: 65%;
    margin: 50px auto;
    height: 130px;
    background: #fff;
    border: 1px solid #C9C8C8;
    border-radius: 6px;
}

.post-container {
    width: 100%;
    height: 90px;
}

    .post-container textarea {
        width: 100%;
        height: 100%;
        border: none;
        resize: none;
        border-top-left-radius: 6px;
        border-top-right-radius: 6px;
        font-size: 14px;
        font-weight: 100px;
        color: #4D4C4C;
        letter-spacing: 1px;
        padding: 12px 0 0 12px;    
    }
    

.post-btn-container {
    width: 100%;
    height: 40px;
    background: #F5F5F5;
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
}

.post-btn {
    width: 88px;
    height: 28px;
    background: #ED6464;
    border-radius: 4px;
    float: right;
    margin: 6px 6px 0 0;
    cursor: pointer;
}
    
    .post-btn h3 {
        color: #fff;
        font-size: 18px;
        font-weight: 100;
        line-height: 27px;
    }
    
.content {
    max-width: 700px;
    width: 65%;
    min-height: 140px;
    overflow: auto;
    margin: 50px auto;
    background: #fff;
    border: 1px solid #C9C8C8;
    border-radius: 6px;
}

.img-container {
    width: 120px;
    height: 100%;
    /*border: 1px solid rebeccapurple;*/
    float: left;
}

    .img-container img {
        width: 75%;
        border-radius: 50%;
        margin-top: 14px;
        margin-left: 10px;
    }

.content-row {
    width: calc(100% - 120px);
    /*border: 1px solid red;*/
    float: right;
}

.post-info {
    height: 55px; 
}

.sub {
    height: 100%;
    /*border: 1px solid green;*/
    display: inline-block;
    margin: 0 20px 0 10px;
}

    .sub span {
        cursor: default;
    }

    .sub h4 {
        font-size: 16px;
        color: #4D4C4C;
        letter-spacing: 1px;
        line-height: 54px;
    }

.post-text {
    text-align: left;
    height: auto;
    min-height: 40px;
}

    .post-text h5 {
        font-size: 14px;
        font-weight: 100;
        color: #4D4C4C;
        letter-spacing: 0.5px;
        padding: 10px 20px 10px 10px;
    }

.comment {
    height: 45px;  
}

.comment-icon {
    height: 100%;
    float: right;
    margin-right: 20px;
}

.comment-icon img {
    margin-top: 4px;
    height: 75%;
}

/* MEMBERS DIRECTIVE STYLES */

.mbr-sml {
    height: 100%;
    width: 50px;
    /*border: 1px solid limegreen;*/
    vertical-align: top;
    margin-left: 20px; 
    display: inline-block;
}

.mbr-name {
    width: 250px;
    text-align: left;
    margin-left: 0px;
    line-height: 49px;
    overflow: hidden;
}

    .mbr-sml img {
        height: 80%;
        border-radius: 50%;
        margin: 5px 0 0 5px;
    }
    
.mbm-left {
    text-align: left;
}
    
