* {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;  
}

*:focus {
    outline: 0;
}

html {
    margin: 0;
    min-height: 100%;
    width: 100%;
}

input:focus { outline: none; }
div:focus { outline: none; }

h1,h2,h3,h4,h5,h6 {
    margin: 0;
    font-family: 'Open Sans', sans-serif;
}

a {
    text-decoration: none;
    cursor: pointer;
}

a h4,h5 {
    cursor: pointer;
}

a:visited {
    text-decoration: none;
}

/* HOME */
.background-blue {
    height: 100%;
    width: 100%;
    background: #8CB8DA;
}

.main-wrapper {
    width: 300px;
    height: 215px;
    margin: auto;
    position: absolute;
    top: 0; left: 0; bottom: 0; right: 0;
    /*border: 1px solid #FFF;*/
    vertical-align: middle;
}

.logo-container {
    margin: 0 auto;
    text-align: center;
    /*border: 1px solid green;*/
    margin-bottom: 25px;
}

    .logo-container img {
        width: 270px;
    }
    
.login-button-container {
    /*border: 1px solid rebeccapurple;*/
    margin: 0 auto;
    text-align: center;
}

.login-btn {
    margin: 0 auto;
    width: 230px;
    height: 55px;
    background: #ED6464;
    border-radius: 15px;
}

    .login-btn h4 {
        color: #fff;
        font-size: 18px;
        padding-top: 14px;
    }

/* USER LANDING PAGE AFTER LOGIN (USER VIEW) */

.main-user-wrapper {
    width: 100%;
    height: 100%;
    overflow: auto;
    background: #D4D8Df;
    /*border: 1px solid red;*/
}

.header {
    height: 60px;
    width: calc(100% - 350px);
    background: #8CB8DA;
    float: right;
    text-align: center;
    position: fixed;
    right: 0;
    z-index: 999999999;
}

    .header img {
        height: 75%;
        margin: 7px 40px 0 0;
        display: inline-block;
    }

.sidebar {
    position: absolute;
    width: 350px;
    min-height: 100%;
    background: #262E35;
}

.sidebar-row {
    width: 100%;
    height: 100px;
    /*border: 1px solid lightgoldenrodyellow;*/
}

.center {
    text-align: center;
}

.userBox {
    height: 120px;
    text-align: left;
}

.sidebar-sub-item {
    height: 100%;
    display: inline-block;
    vertical-align: top;
    text-align: center;
    margin: 0px -25px 0 36px;
    overflow: hidden;
    /*border: 1px solid green;*/
}

.usr-name-logout {
    margin-top: 50px;
    /*border: 1px solid red;    */
}

    .rows {
        width: 100%;
    }
    
    .icon {
        text-align: left;
    }
    
    .icon h6 {
        font-size: 10px;
        color: #fff;
        font-weight: 100;
        letter-spacing: 0.5px;
        cursor: pointer;
    }
 
.sidebar-sub-item img {
    width: 90px;
    border-radius: 50%;
    margin-top: 22px;
}

.sidebar-sub-item h4 {
    color: #fff;
    font-weight: 100;
    font-size: 15px;
    text-align: left;
}

.section {
    /*border: 1px solid red;*/
    height: auto;
}

.grp-section {
    max-height: 250px;
    overflow: auto;
}

.section .row {
    /*border: 1px solid green;*/
    height: 50px;
    width: 100%;
}

.section .row:hover {
    background: #2E3740;
}

.myGroups-text {
    color: #fff;
    font-size: 16px;
    font-weight: 400;
    padding-left: 18px;
    line-height: 40px;
    letter-spacing: 1px;
}

    .myGroups-text .fa-chevron-down {
        color: #959595;
        font-size: 12px;
    }

.group-name-text {
    color: #959595;
    font-weight: 400;
    letter-spacing: 1px;
    padding-left: 18px;
}

    .row .sub-item {
        /*border: 1px solid purple;*/
        display: inline-block;  
        line-height: 50px;
        height: 100%;
        margin: 0 30px 0 0;
    }
    
.left {
        float: left;
    }

.right {
        float: right;
    }
    
.action {
    color: #fff;
    cursor: pointer;
}

.join {
    color: #ED6464;
}

.active {
    color: #ED6464;
}

.grp-name-active {
    background: #35404A;
}

.notActive {
    color: #959595;
}

.main-content-area {
    position: relative;
    display: inline-block;
    width: calc(100% - 350px);
    height: 100vh;
    overflow: scroll;
    text-align: center;
    float: right;   
}

/* CREATE NEW GROUP BOX */

.create-group-box {
    position: absolute;
    top: 50%;
    left: 50%;
    vertical-align: middle;
    width: 600px;
    border: 1px solid #C9C8C8;
    background: #fff;
    margin: -170px 0 0 -300px;
    border-radius: 6px;
}

.box-row {
    width: 100%;
    text-align: right;
    /*border: 1px solid pink;*/
    border-top-right-radius: 6px;
    border-top-left-radius: 6px;
    background: #F5F5F5;
}

    .box-row h3 {
        font-size: 18px;
        font-weight: 800;
        line-height: 68px; 
        letter-spacing: 1px;
        text-align: center;
        color: #4D4C4C;
    }
    
.inputs {
    height: 70px;
    background: none;
}

.invite-box {
    width: 100%;
    /*border: 1px solid deepskyblue;*/
    margin-bottom: 20px;
    text-align: right;
}

.invitee {
        display: inline-block;
        /*border: 1px solid rebeccapurple;*/
        margin: 0px 12px 0 0;
        display: inline-block;
    }
    
    .invitee h6 {
        font-size: 14px;
        font-weight: 100;
        color: #4D4C4C;
        cursor: pointer;
    }
    
      .invitee:hover h6 {
        text-decoration: line-through;
      }

.input-split {
    height: 100%;
    /*border: 1px solid green;*/
    display: inline-block;
    vertical-align: top;
    line-height: 70px;
}

.top {
    line-height: 20px;
}

.input-split-holder {
    width: 371px;
    text-align: left;
    margin-right: 20px;
    /*border: 1px solid hotpink;*/
    display: inline-block;
    vertical-align: top;
}

    .input-split h4 {
        color: #4D4C4C;
        margin-right: 20px;
    }
    
.add-btn-holder {
    width: 120px;
    height: 100%;
    /*border: 1px solid orange;*/
    text-align: left;
    line-height: 68px;
}

    .add-btn-holder img {
        width: 16px;
        vertical-align: middle;
        margin-left: 10px;
        cursor: pointer;
    }

.group-input {
    width: 270px;
    height: 30px; 
    border: 1px solid #C9C8C8;
    padding-left: 14px;
    border-radius: 5px;
    font-size: 14px;
    color: #000;
    font-weight: 200;
    letter-spacing: 1px;
    line-height: 30px;
    font-family: 'Open Sans', sans-serif;
    margin-top: 20px;
}

    .group-input .input {
        width: 100%;
        height: 100%;
        border: none;
        border-radius: 5px;
        letter-spacing: 1px;
    }

    .group-input select {
        width: 270px;
        height: 30px; 
    }

.create-btn-container {
    height: auto;
    
}
.create-grp-btn {
    width: 150px;
    height: 40px;
    background: #ED6464;
    border-radius: 4px;
    margin: 0 0 20px 0;
    cursor: pointer;
}

    .create-grp-btn h4 {
        color: #fff;
        text-align: center;
        line-height: 39px;
        margin: 0;
    }
    
/* GROUP VIEW */

.group-title {
    height: 100%;
    display: inline-block;
}

.title {
    margin-left: 90px;
}
    
    .group-title h4 {
        font-size: 22px;
        font-weight: 800;
        line-height: 60px;
        letter-spacing: 1px;
        color: #fff;
    }
    
.post-input-content {
    max-width: 700px;
    width: 65%;
    margin: 50px auto;
    height: 130px;
    background: #fff;
    border: 1px solid #C9C8C8;
    border-radius: 6px;
}

.post-input-content-top-space {
    margin-top: 110px;
}

.post-container {
    width: 100%;
    height: 90px;
}

    .post-container textarea {
        width: 100%;
        height: 100%;
        border: none;
        resize: none;
        border-top-left-radius: 6px;
        border-top-right-radius: 6px;
        font-size: 14px;
        font-weight: 100px;
        color: #4D4C4C;
        letter-spacing: 1px;
        padding: 12px 0 0 12px;    
    }
    

.post-btn-container {
    width: 100%;
    height: 40px;
    background: #F5F5F5;
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
}

.post-btn {
    width: 88px;
    height: 28px;
    background: #ED6464;
    border-radius: 4px;
    float: right;
    margin: 6px 6px 0 0;
    cursor: pointer;
}
    
    .post-btn h3 {
        color: #fff;
        font-size: 18px;
        font-weight: 100;
        line-height: 27px;
    }
    
.content {
    max-width: 700px;
    width: 65%;
    min-height: 140px;
    overflow: auto;
    margin: 50px auto;
    background: #fff;
    border: 1px solid #C9C8C8;
    border-radius: 6px;
}

.img-container {
    width: 120px;
    height: 100%;
    /*border: 1px solid rebeccapurple;*/
    float: left;
}

    .img-container img {
        width: 80%;
        border-radius: 50%;
        margin-top: 24px;
        margin-left: 10px;
    }

.content-row {
    width: calc(100% - 120px);
    /*border: 1px solid red;*/
    float: right;
}

.post-info {
    height: 55px; 
}

.sub {
    height: 100%;
    /*border: 1px solid green;*/
    display: inline-block;
    margin: 0 20px 0 10px;
}

    .sub span {
        cursor: default;
    }

    .sub h4 {
        font-size: 16px;
        color: #4D4C4C;
        letter-spacing: 1px;
        line-height: 54px;
    }

.post-text {
    text-align: left;
    height: auto;
    min-height: 40px;
}

    .post-text h5 {
        font-size: 14px;
        font-weight: 100;
        color: #4D4C4C;
        letter-spacing: 0.5px;
        padding: 10px 20px 10px 10px;
    }

.comment {
    height: 45px;  
}

.comment-icon {
    height: 100%;
    float: right;
    margin-right: 20px;
}

.comment-icon img {
    margin-top: 4px;
    height: 75%;
}

.grp {
    max-height: 250px;
    overflow: auto;
}

::-webkit-scrollbar {
   display: none;
}

/* MEMBERS DIRECTIVE STYLES */

.plus-box {
    height: 40px;
    line-height: 50px;
}

    .plus-box .fa {
        color: seagreen;
    }

    .plus-box img {
        height: 50%;
        cursor: pointer;
    }
    
.move-down {
    margin-top: 9px;
}
    
.no-highlight .no-highlight:hover {
    background: none;
}

.mbr-sml {
    height: 100%;
    width: 50px;
    /*border: 1px solid limegreen;*/
    vertical-align: top;
    margin-left: 20px; 
    display: inline-block;
}

.mbr-name {
    width: 250px;
    text-align: left;
    margin-left: 0px;
    line-height: 49px;
    overflow: hidden;
}

    .mbr-sml img {
        height: 80%;
        border-radius: 50%;
        margin: 5px 0 0 5px;
    }

.mbr-space {
    margin-bottom: 5px;
}

.member-search {
    height: 32px;
    width: 254px;
    border: 1px solid #4D4C4C;
    border-radius: 6px;
    text-align: center;
    margin: 12px 0px 12px 16px;
    display: inline-block;
}

    .member-search input {
        width: 100%;
        height: 100%;
        border: none;
        border-radius: 5px;
        padding-left: 10px;
        font-size: 14px;
        font-weight: 100;
        letter-spacing: 1px;
        line-height: 30px;
        font-family: 'Open Sans', sans-serif;
    }
    
    .member-search ::-webkit-input-placeholder::after { 
        font-family: 'Open Sans',fontAwesome; 
        content:'\f002  '; 
        color: #ED6464;
        float: right;
    }

    .member-search ::-moz-placeholder::after { 
            font-family: 'Open Sans',fontAwesome; 
            content:'\f002  '; 
            color: #ED6464;
            float: right;
        } /* firefox 19+ */

    .member-search :-ms-input-placeholder::after { 
            font-family: 'Open Sans',fontAwesome; 
            content:'\f002  '; 
            color: #ED6464;
            float: right;
        } /* ie */

    .member-search input :-moz-placeholder::after { 
            font-family: 'Open Sans',fontAwesome; 
            content:'\f002  '; 
            color: #ED6464;
            float: right;
        }
        
