<div class="row">
    <div class="sub-item">
        <h4 class="myGroups-text">MEMBERS ({{groupData.users.length}})</h4>
    </div>
    <div class="sub-item right">
        <div class="plus-box" ng-hide="redPlus">
            <img src="./assets/plussquare.png" alt="Invite" ng-click="openInviteBox()">
        </div>
    </div>
</div>

<div class="row" ng-show="inviteOthers">
    <div class="member-search">
        <div angucomplete-alt id="inviteOthersUsers" placeholder="Search by name" pause="300" selected-object="selectedUserToInvite"
        local-data="allUsers" search-fields="name" image-field="img" title-field="name" minlength="3" input-class="input"
        match-class="highlight" autofocus>
        </div>
    </div>

    <div class="sub-item right">
        <div class="plus-box move-down">
            <img src="./assets/plussquare_gray.png" ng-hide="grayPlusToggle">
            <img src="./assets/plussquare.png" ng-show="redPlusToggle" ng-click="sendIndividualInvite()">
        </div>
    </div>
</div>







<div class="sidebar-row section no-highlight">
    <div class="row no-highlight mbr-space" ng-repeat="member in groupData.users track by $index">
        <div class="mbr-sml">
            <img ng-src="{{member.google.image}}" alt="img">
        </div>
        <div class="mbr-sml mbr-name">
            <h4 class="group-name-text">{{member.google.name}}</h4>
        </div>
    </div>
</div>