Group Template
    <p>Name: {{groupData.groupName}}</p>
    <p>ID: {{groupData._id}}</p>
    <p>Date: {{groupData.createdOn}}</p>
    <br>
    <!-- create message-->
    <div>
        Post a message <br>
        <br>
        <input type="text" placeholder="Say something..." ng-model="newMessage">
        <button ng-click="postNew()">Post Message</button>
    </div>
    <br>
    <br>
        <!-- Posted messages-->
        Messages
<div ng-repeat="post in groupData.posts">
    <br>
    {{post.postContent.message}}
    <br>posted by <img class="circle" ng-src="{{post.postedBy.google.image}}">{{post.postedBy.google.name}} on {{post.datePosted}}
    <br>
    <br>
</div>

    



