<div class="main-user-wrapper">
    <div class="sidebar">
        <div class="sidebar-row center userBox">
            <div class="sidebar-sub-item">
                <img ng-src="{{user.google.image}}">
            </div>
            <div class="sidebar-sub-item">
                <h4>{{user.google.name}}</h4>
            </div>
        </div>

        <div class="row">
            <div class="sub-item">
                <h4 class="myGroups-text">MY GROUPS ({{user.groups.length}}) &nbsp;<i class="fa fa-chevron-down" ng-show="scrollGrps" ng-cloak></i>
</h4>
            </div>
            <div class="sub-item right">
                <div class="plus-box">
                    <a href="#/user/{{user._id}}/create"><img src="./assets/plussquare.png" alt="Invite" ng-click="getUsersFromDatabase()"></a>
                </div>
            </div>
        </div>

        <div class="sidebar-row section">
            <!--<div class="row" ng-repeat="invite in myInvites track by $index">
                <div class="sub-item">
                    <h4 class="group-name-text">{{invite.groupInvitedTo.groupName}}</h4>
                </div>
                <div class="sub-item right">
                    <h4 class="group-name-text action join" ng-click="acceptInvite(invite)">Join</h4>
                </div>
            </div>-->
        </div>

        <div class="sidebar-row section grp-section">
            <div class="row" ng-repeat="group in user.groups track by $index">
                <div class="sub-item">
                    <h4 class="group-name-text">{{group.groupName}}</h4>
                </div>
                <div class="sub-item right">
                    <a href="#/group/{{group._id}}" ng-click="getGroupData(group._id)"><h4 class="group-name-text action">Go to</h4></a>
                </div>
            </div>
        </div>
        <div>
            <group-members></group-members>
        </div>
    </div>

    <div class="header">
        <div class="group-title title">
            <h4 ng-cloak>{{groupData.groupNameUpperCase}}</h4>
        </div>
        <div class="group-title right">
            <img src="./assets/groopscooplogo2-compressor.png" alt="Groop Scoop">
        </div>
    </div>

    <div class="main-content-area" ng-hide="createGroupFromGroupView">
        <content-directive></content-directive>
    </div>
</div>