Group Template
    <p>Name: {{groupData.groupName}}</p>
    <p>ID: {{groupData._id}}</p>
    <p>Date: {{groupData.createdOn}}</p>
    <p>test: {{test1}}</p>
    <br>
    <br>
    <br>
    <!-- create message-->
    <div>
        Post a message <br>
        <br>
        <input type="text" placeholder="Say something..." ng-model="newMessage">
        <button ng-click="postNew()">Post Message</button>

    </div>
    
    <br>
    <br>
    <br>
    <br>
    
    
    
    
    
    
    
        <!-- Posted messages-->
        Posted Messages
<div>
    
    
</div>

    



